# Ignore ALL node_modules everywhere
node_modules
**/node_modules

# Ignore build outputs
dist
**/dist

# Ignore env files
# .env
# .env.*
# **/.env
# **/.env.*

# IDE and git stuff
.vscode
.git
.github
.husky
.history
