/.history
/**/*/node_modules
/responses
/backend/dist
/backend/uploads
/frontend/dist
.env
/**/*/.env
/**/*/.env.p*
/**/*/.env.d*
/**/*/*.log
.github
/backend/data
makefile
/**/*/ecosystem.dev.config.js