PORT=8000
SERVER_URL=http://localhost

CORS_ORIGIN_URLS=http://localhost:3000,http://localhost:5173

# App name
APP_NAME=airwaveairtime

RELOADLY_CLIENT_ID=Ux3wKcOPpno647ILvg9GWdvOuDrcr2Xa
RELOADLY_CLIENT_SECRET=O6YbOCr2B6-vgt9UWa43JJ93XPmLU4-9nNMrjXIxRP71dGikjYZGy6KOPgRexAk
RELOADLY_AUDIENCE=https://topups-sandbox.reloadly.com
RELOADLY_AUTH_URL=https://auth.reloadly.com/oauth/token
RELOADLY_TOKEN_EXPIRY=86400

## Local machine Postgres
# DB_USER=postgres
# DB_PASSWORD=e1v6a1n1
# DB_DIALECT=postgres
# DB_HOST=localhost
# DB_NAME=airwave_development
# DB_PORT=5432

## Docker Postgres
DB_USER=airwave_admin
DB_PASSWORD=airwave@2925airtime
DB_DIALECT=postgres
DB_HOST=db
DB_NAME=airwave_development
DB_PORT=5432

# Redis local machine
# REDIS_HOST=localhost
# REDIS_PORT=6379


## Docker redis
REDIS_HOST=redis
REDIS_PORT=6379

## Redis both environments
REDIS_USER=airwave_admin
REDIS_PASSWORD=1611
REDIS_DB=0


#Authentication 
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=1d
ACCESS_TOKEN_SECRET=54ac65ce338b2cf894706dd039c9331365deaf9c561b42eeeccbe27f71e70618f8864a305581e52299aca213735c315e3db9
REFRESH_TOKEN_SECRET=c60038605be8ff84f933d55b880c1daaf8b6ac4618568a2306533dbeae137d032b54c02c683ab8a4330739d85f3b8cab36a6z