## Running environment(development, test, production)
NODE_ENV=
## Service port
PORT=
## Url to the server 
BASE_URL=
## Url for services allowed to access this server
CORS_ORIGIN_URLS=

# App name
APP_NAME=

## Api documentation url
API_DOC_URI=
## Database name
DB_NAME=
## Database user
DB_USER= 
## Database password
DB_PASSWORD=
## Database host
DB_HOST=
## Database port
DB_PORT=

### Redis service ###
REDIS_URL=

### Authentication ###
## Access token expiry in minutes eg 15m
ACCESS_TOKEN_EXPIRY=
## Refresh token expiry  eg 1d
REFRESH_TOKEN_EXPIRY=

## Randomly generated cyptographic 64/512-byte string 
ACCESS_TOKEN_SECRET=54ac65ce338b2cf894706dd039c9331365deaf9c561b42eeeccbe27f71e70618f8864a305581e52299aca213735c315e3db9
## Randomly generated cyptographic 64/512-byte string 
REFRESH_TOKEN_SECRET=c60038605be8ff84f933d55b880c1daaf8b6ac4618568a2306533dbeae137d032b54c02c683ab8a4330739d85f3b8cab36a6z

### Reloadly credentials ### (Optional if using diff service)
RELOADLY_CLIENT_ID=
RELOADLY_CLIENT_SECRET=
RELOADLY_AUDIENCE=
RELOADLY_AUTH_URL=
RELOADLY_TOKEN_EXPIRY=

RELOADLY_SANDBOX_CLIENT_ID=
RELOADLY_SANDBOX_CLIENT_SECRET=
RELOADLY_SANDBOX_AUDIENCE=
RELOADLY_SANDBOX_AUTH_URL=

### Africa talking adapter service ###
## development
AFRICAS_TALKING_SANDBOX_API_KEY=
AFRICAS_TALKING_SANDBOX_USERNAME=
AFRICAS_TALKING_AIRTIME_API_SANDBOX_URI=
AFRICAS_TALKING_SANDBOX_PAYBILL=
## production
AFRICAS_TALKING_AIRTIME_API=
AFRICAS_TALKING_API_KEY=
AFRICAS_TALKING_USERNAME=
AFRICAS_TALKING_PAYBILL=

### Mpesa payment gateway ###
## development
MPESA_SANDBOX_CUSTOMER_KEY=
MPESA_SANDBOX_CUSTOMER_SECRET=
MPESA_SANDBOX_BASE_URL=
MPESA_SANDBOX_AUTH_URL=
MPESA_SANDBOX_INITIATOR=
MPESA_SANDBOX_SHORT_CODE=
MPESA_SANDBOX_SECURITY_CREDENTIAL=
## production
MPESA_CUSTOMER_KEY=
MPESA_CUSTOMER_SECRET=
MPESA_BASE_URL=
MPESA_AUTH_URL=
MPESA_INITIATOR=
MPESA_SECURITY_CREDENTIAL=
MPESA_SHORT_CODE=

