@import "tailwindcss";


* {
  font-family: "Inter", sans-serif;
}
/* light mode */
[data-theme="light"] {
  --bg-color: 0 0% 100%;
  --top-strip: 225 100% 98%;
  --card-bg: 228 12% 44%;
  --card-bg: 227 47% 96%;
  --card-light: 232 33% 91%;
  --text-light: 228 12% 44%;
  --text-crl: 230 17% 14%;
  --toogle-bg: hsl(230, 22%, 74%);
  --toogle-bg-dark: hsl(230, 22%, 73%);
  --light-lime: hsl(146, 68%, 55%);
}

/* dark mode */
[data-theme="dark"] {
  --bg-color: 230 17% 14%;
  --bg-blue-light: 203 89% 53%; 
  --top-strip: 232 19% 15%;
  --card-bg: 228 28% 0%;
  --card-light: 228 26% 27%;
  --text-light: 231 16% 52%;
  --text-clr: 0 0% 100%;
  --timeline: hsl(231 16% 82%);
  --toggle-bg: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --bright-red: 356 69% 56%;
}

.bg-color {
  background-color: hsl(var(--bg-color));
}
.top-strip {
  background-color: hsl(var(--top-strip));
}
.card-bg {
  background-color: hsl(var(--card-bg));
}
.card-light {
  background-color: hsl(var(--card-bg-light));
}
.text-color {
  color: hsl(var(--text-clr));
}
.text-light {
  color: hsl(var(--text-light));
}
.text-green {
  color: var(--green);
}
.toogle-bg {
  background: hsl(var(--toogle-bg));
}
.gradient {
  color: hsl(var(--gradient))
}
.blue-light {
  background-color: hsl(var(--bg-blue-light))

}

/* @media (prefers-color-scheme: dark) {
.bg-color {
    background-color: hsl(var(--bg-color));
}
}  */
/* @theme  {
 /* --color-*: initial; */
/* --color-primary: hsl(var(--bg-color));
 --color-card-bg: hsl(var(--card-bg));.
 --color-text-color: hsl(var(--text-clr))
 --color-text-light:  hsl(var(--text-light));
 --color-text-green: hsl(var(--green))
 --color-toogle-bg: hsl(var(--toogle-bg)); */


